*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1290px;
    margin: 0px auto;
    padding: 0px 24px;
}
.colphid-logo img{
    max-width: 200px;
}
.top-navigation{
    display: flex;
}
.top-navigation a{
    padding: 10.2px;
    display: flex;
    color: #4A5568;
    text-decoration: none;
    align-items: center;
    font-size: 17px;
}
.build-future-inner{
    display: flex;
    background-color: #0C5278;
    align-items: center;
    max-width: 1290px;
    margin: 0px auto;
    padding: 40px 50px;
}
.cophild-teacher{
    padding-right: 80px;
}
.build-future-outer{
    margin-bottom: 64px;
}
.build-future-inner h2{
    font-size: 40px;
    color: #fff;
}
.build-future-inner p{
    font-size: 17px;
    color: #fff;
    margin-bottom: 50px;
}
.registration-button{
    padding: 10px 0px;
}
.exam-registration,.training-registration{
    text-decoration: none;
    padding: 14px 28px;
    font-weight: 600;
    margin: 10px;
    border-radius: 3px;
}
.exam-registration{
    color: #fff;
    background-color: #056AA1;
}
.training-registration{
    color: #007bd0;
    background-color: #fff;
}
.build-future-inner img{
    max-width: 550px;
    max-height: 550px;
}
.sponsors{
    display: flex;
    justify-content: space-between;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0px 3.2rem;
    margin-bottom: 64px;
}
.About-cophild h6{
    font-size: 18px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-top: 27px;
    font-style: italic;
    color: rgb(74, 85, 104);
    padding-bottom: 60px;
    margin-bottom: 32px;
}
.philosophy h3{
    letter-spacing: 0.5px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding: 60px 25px 0px;
    margin: 1.5em 0 .5em;
}
.philosophy > h2{
    margin-bottom: 25px;
    text-align: center;
    font-size: 2.2em;
    line-height: 1.2em;
}
.philosophy > p{
    margin-bottom: 50px;
    text-align: center;
    max-width: 1200px;
    padding: 0px 25px 0px;
    font-size: 17px;
}
.card-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-bottom: 120px;
}
.mini-card{
    display: flex;
    background-color: #F7FAFC;
    border-radius: 8px;
}
.minicard-logo{
    background-color: #2B6CB0;
    padding: 12px;
    height: 50px;
    border-radius: 8px;
    margin-right: 18px;
}
.mini-card:hover > .minicard-logo{
    background-color: #3182CE;
}
.mini-card img{
    height: 26px;
    height: 26px;
}
.mini-card h2{
    margin-bottom: 10px;

}
.mini-card p{
    line-height: 1.1;
    font-size: 17px;
}
.job-opportunity{
    color: #fff;
    background-color: #A17235;
}
.opportunity-inner{
    display: flex;
    gap: 40px;
    max-width: 900px;
    margin:0 auto;
    padding: 120px 25px;
}
.opportunity-inner img{
    max-width: 430px;
    height: 620px;
    object-fit: cover;
    border-radius: 10px;
}
.opportunity-inner h2{
    margin-bottom: 25px;
}
.opportunity-inner div > p:not(:last-child){
    margin-bottom: 32px;
}
.opportunity-inner div  p{
    line-height: 1.6;
    font-size: 17px;
}
.register-now{
    text-align: center;
    padding-top: 64px;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 1.5;
}
.reg-now-images{
    display: flex;
    column-gap: 40px;
    padding-top: 24px;
}
.reg-now-images img{
    max-width: 100%;
}
.experience{
    padding-top: 120px;
    text-align: center;
    font-size: 19px;
    letter-spacing: .5px;
    line-height: 5px;
    margin-bottom: 25px;
}
.about-staff{
    margin: 1.5em auto .5em;
    font-size: 2.2em;
    line-height: 1.2em;
    text-align: center;
    max-width: 650px;
}
.computer-room-container{
    margin: 0px auto;
}
.computer-room{
    width: 100%;
    max-height: 544px;
    display: flex;
    justify-content: center;
}
.my-expectatation{
    margin: 36px 0 12px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
}
.Experience{
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 0 1.5rem;
}
.experience-section > div{
    display: flex;
    line-height: 1.6;
    font-size: 17px;
}
.experience-section img{
    width: 20px;
    padding: 4px 0px;
    margin-right: 10px;
}
